* {
    text-align: left;
    text-transform: none;
}

table * {
    font-size: 2rem;
}

code {
    font-size: 2rem;
    background-color: darkgray;
    color: black;
    padding: 0.5rem;
}

.code-wrapper code,span {
    font-size: 1.5rem;
}
